<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Welcome to Mega-Remote</div>
      <div class="item item-body">
        <div>
          <ol>
            <li>1 - Install the mega-retro Application on a Desktop</li>
            <li>2 - Start the mega-retro App</li>
            <li>3 - Now on mega-remote proceed to the connect tab</li>
            <li>4 - Search your computer and login</li>
            <li>5 - And start PLAYING!</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">TroubleShooting</div>
      <div class="item item-body">
        <div>
          <ul></ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>